# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# without / : it will ignore all the nested files an dfolders as well
dist
dist-ssr
*.local

# Editor directories and files
src/store/Storecomposable

src/views/rough.vue
src/views/rought.txt
src/views/Practice.vue
src/views/roughh.vue
src/views/temporaray.vue
src/store/Storecomposable.vue
src/Service/authService.vue


Notes


.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# enviroment variable
.env